
:root{
    --royal-blue-dark: hsl(231, 68%, 21%);
    --ksu-purple: hsl(275, 54%, 33%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    color: white;
    background-color: var(--royal-blue-dark);
}

.btn-secondary{
    margin-top: 15px;
} 



.all-contacts #show-all-contacts {
    margin-left: 50px;
}

.all-contact h6{
    margin-left: 20px;
}

.btn{
    margin-right: 10px;
}


#show-all-contacts{
    display: none;
}

/* Making our home, school, and work forms disapper until user
clicks on a button to fill any one of them */


#home{
    margin-block-end: 40px;
    display: none;
}

#work{
    margin-block-end: 40px;
    display: none;
}

#school{
    margin-top: 20px;
    display: none;
    margin-block-end: 30px;
}

.footer-bottom {
    background-color: var(--ksu-purple);
    text-align: center;
    color: white;
    height: 70px;
}



.footer-bottom a{
    color: white;
}

.copyright-link {
    display: inline-block;
    text-decoration: underline;
}

.copyright-link:is(:hover, :focus) {
    text-decoration: none;
}