
:root{
    --royal-blue-dark: hsl(231, 68%, 21%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    color: white;
    background-color: var(--royal-blue-dark);
}

.btn-secondary{
    margin-top: 15px;
}
#all-contacts{
    display: none;
}

#all-contacts p, li, .btn{
    margin-left: 20px;
}

/* Making our home, school, and work forms disapper until user
clicks on a button to fill any one of them */


#home{
    margin-block-end: 40px;
    display: none;
}

#work{
    margin-block-end: 40px;
    display: none;
}

#school{
    margin-top: 20px;
    display: none;
    margin-block-end: 30px;
}